#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 /* Product */


.product_wrapper {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;

}

.product {
  border: 1px solid gray;
  padding: 1rem;
  text-align: center;
  height: 18rem;
  width: 20rem;
  overflow-y: auto;
}

.product_image {
  height: 200px;
  aspect-ratio: 3/4;
  text-align: center;
}

.search_sort_wrapper{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 4rem;
}

.search_sort_wrapper label {
  margin-right: 5px;
  color: white;
}

#search_input {
  height: 2rem;
  width: 15rem;
  
}

.nav_wrapper {
  background-color: black;
  height: 4rem;
  padding: 30px 20px;
}

.categories_wrapper {
  background-color: rgb(226, 218, 218);
  height: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.category_option {
  height: 70%;
  width: 8rem;
  border-radius: 10px;
  background-color: transparent;
}

.icon_container {
  color: beige;
}

.pagination{
  display: ruby;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
}

.pageNum{
  padding: 0.5rem;
  font-size: 1.2rem;
}